main{
    margin: 40px 0;
    min-height: 70vh;
}

.banner{
    padding: 30px;
    color: #fff;
    background-color: #ccc;
    border-radius: 15px;
    background-image: url("https://img.freepik.com/premium-photo/food-background-spices-vegetables-cutlery-dark-table-free-space-your-text_187166-22835.jpg?w=1380");
    background-position: center;
    background-size: cover;
    background-color: #000;
    position: relative;
    overflow: hidden;
}
.banner > div{
    position: relative;
    z-index: 2;
}
.banner::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
}
h1 {
    font-size: 3rem;
    margin: 15px 0;
}

.articles{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .articles{
        flex-direction: column;
    }
}
article{
    flex: 1;
    background-color: bisque;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
}
article img{
    min-height: 220px;
    object-fit: cover;
}
article h2{
    margin: 20px 0;
}
article p{
    text-align: justify;
    margin: 15px 0;
    font-size: 12px;
}