footer{
    display: flex;
    margin-bottom: 20px;
}
footer div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    border-top: 1px solid #000;
}
footer img{
    max-width: 120px;
}